<!DOCTYPE html>
<html>

<head>
    <title>闪链私人股权交易平台</title>
    <meta http-equiv="http-Context" charset="utf-8" />
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/center.css" />
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="./center.js"></script>
</head>

<body>
    <div id="title" style="background-image:url(./images/Step1_1.jpg)">
        <div id="div1">
            <button id="register">托管登记</button>
            <span id="logonResult1"></span>
        </div>
        <div id="div2">
            <button id="zhuanrang">转让申请列表(股交中心)</button>
            <span id="logonResult2"></span>
        </div>
        <div id="div3">
            <button id="shourang">受让申请列表</button>
            <span id="logonResult3"></span>
        </div>
        <div id="div4">
            <button id="zhuanrangGD">转让申请列表(股东)</button>
            <span id="logonResult4"></span>
        </div>
        <div id="div5">
            <button id="zhiya">质押</button>
            <span id="logonResult5"></span>
        </div>
        <div id="div6">
            <button id="goback">返回主页</button>
        </div>
        <div id="div7">
            <button id="logon">登录</button>
            <span id="logonResult">{{logonStatus}}</span>
        </div>
    </div>
    <img id="title2" src="./images/Step1_2.jpg" />
</body>

</html>