<!DOCTYPE html>
<html>

<head>
    <title>闪链私人股权交易平台</title>
    <meta http-equiv="http-Context" charset="utf-8" />
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/logon.css" />
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="./logon.js"></script>
</head>

<body>
    <div id="header">
        <img id="logo_login" src="./images/login-01.jpg" />
    </div>
    <div id="mainbody" class="main">
        <div id="left">
            <div class="login_title">
                <span>股权交易中心操作人员</span>
            </div>
            <div class="input-div">
                <span class="text">账户地址: </span>
                <input type="text" id="centerAdrr" class="input-text" />
            </div>
            <div class="input-div">
                <span class="text">密码: </span>
                <input type="password" id="centerPw" class="input-text" />
            </div>
            <div class="login_btn">
                <button id="logon1" class="btnBlue">登录</button>
            </div>
            <div class="login_btn">
                <span id="logon1Result"></span>
            </div>
        </div>
        <div id="right">
            <div class="login_title">
                <span>用户</span>
            </div>
            <div class="input-div">
                <span class="text">账户地址: </span>
                <input type="text" id="personAdrr" class="input-text" />
            </div>
            <div class="input-div">
                <span class="text">密码: </span>
                <input type="password" id="personPw" class="input-text" />
            </div>
            <div class="login_btn">
                <button id="logon2" class="btnBlue">登录</button>
            </div>
            <div class="login_btn">
                <span id="logon2Result"></span>
            </div>
        </div>
        <div class="section">
            <button id="goback" class="btnNormal">返回</button>
        </div>
    </div>
    <div id="footer">
        <img id="footer" src="./images/footer.jpg" />
    </div>
</body>

</html>