<!DOCTYPE html>
<html>

<head>
    <title>闪链私人股权交易平台</title>
    <meta http-equiv="http-Context" charset="utf-8" />
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/shourang.css" />
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="./shourang.js"></script>
</head>

<body>
    <div id="header">
        <img id="logo" src="./images/logo3.jpg" />
        <img id="person" src="./images/lzl1.jpg" />
    </div>
    <div id="mainbody">
        <img class="FirstTitle" src="./images/step9-title1.png" />
        <table class="table">
            <tr>
                <th>公司名称</th>
                <th>申请人</th>
                <th>受让数量</th>
                <th>受让金额总计</th>
                <th>操作</th>
            </tr>
            <tr>
                <span style="display:none;" id="app1">{{app0}}</span>
                <td><span id="company1">{{company0}}</span></td>
                <td><span id="applicant1">{{applicant0}}</span></td>
                <td><span id="shuliang1">{{shuliang0}}</span></td>
                <td><span id="zijin1">{{zijin0}}</span></td>
                <td><input type="button" id="detail1" value="详情" onclick="fdetail('{{app0}}')" class="btnNormal2" /></td>
            </tr>
            <tr>
                <span style="display:none;" id="app2">{{app1}}</span>
                <td><span id="company2">{{company1}}</span></td>
                <td><span id="applicant2">{{applicant1}}</span></td>
                <td><span id="shuliang2">{{shuliang1}}</span></td>
                <td><span id="zijin2">{{zijin1}}</span></td>
                <td><input type="button" id="detail2" value="详情" onclick="fdetail('{{app1}}')" class="btnNormal2" /></td>
            </tr>
            <tr>
                <span style="display:none;" id="app3">{{app2}}</span>
                <td><span id="company3">{{company2}}</span></td>
                <td><span id="applicant3">{{applicant2}}</span></td>
                <td><span id="shuliang3">{{shuliang2}}</span></td>
                <td><span id="zijin3">{{zijin2}}</span></td>
                <td><input type="button" id="detail3" value="详情" onclick="fdetail('{{app2}}')" class="btnNormal2" /></td>
            </tr>
        </table>
        <div class="section">
            <button id="goback" class="btnNormal2">返回主页</button>
        </div>
    </div>
    <div id="footer">
        <img id="footer" src="./images/footer.jpg" />
    </div>
</body>

</html>