<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>闪链私人股权交易平台</title>
  
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    .section {
      margin: 20px;
    }
    button {
      padding: 5px 16px;
      border-radius: 4px;
    }
    button#logon1 { background-color: yellow; }
    button#logon2 { background-color: #98fb98; }
    
  </style>
  <script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="./zhuanrangGDDetail.js"></script>

 

</head>
<body>
<img src="pics/Step8.png" >
  

  <hr/>


 <div class="section">
公司名称:<span  id="company">{{company}}</span>
</div>
 <div class="section">
受让股份数量:<span  id="shuliang">{{shuliang}}</span>
</div>
 <div class="section">
受让股份单价:<span  id="jiage">{{jiage}}</span>
</div>
 <div class="section">
总计:<span  id="total">{{total}}</span>
</div>

<form class="form" method="post" >
 <div class="section">
申请受让数量: <input id="shuliang_app" name="shuliang_app" />
</div>
 <div class="section">
受让总额:<span  id="total_app">{{total_app}}</span>
</div>

<div class="section">
  <button id="personCenter">闪链个人中心</button>
</div>


 <div class="section">
  <button id="goback">取消</button>
</div>

 <div class="section">
 <input id="submit" type="button" value="提交" onclick="fsubmit()">
<span id="sbmResult"></span>
</div>
 
</form>

  

</body>
</html>
