#title{
    height: 60px;
}
#title2{
   clear: both;
   display: block;
}
#logon{
    background: #00aae3;
    color: white;
    border: 0px solid #CCCCCC;
    border-radius: 5px;
    font-size: 18px;
}
#register{
    
    background: black;
    color: white;
    border: 0px solid #CCCCCC;
    border-radius: 5px;
    font-size: 14px;
}
#zhuanrang{
     background: #0c0c39;
    color: white;
    border: 0px solid #CCCCCC;
    border-radius: 5px;
    font-size: 14px;
}
#shourang{

     background: #0c0c39;
    color: white;
    border: 0px solid #CCCCCC;
    border-radius: 5px;
    font-size: 14px;
}
#zhuanrangGD{

    background: #0c0c39;
    color: white;
    border: 0px solid #CCCCCC;
    border-radius: 5px;
    font-size: 14px;
}
#zhiya{

     background: #0c0c39;
    color: white;
    border: 0px solid #CCCCCC;
    border-radius: 5px;
    font-size: 14px;
}
#goback{

    background: #0c0c39;
    color: white;
    border: 0px solid #CCCCCC;
    border-radius: 5px;
    font-size: 14px;
}
#logonResult{
    display: block;
    color: white;
}
#logonResult1{
    display: block;
    color: white;
}
#logonResult2{
    display: block;
    color: white;
}
#logonResult3{
    display: block;
    color: white;
}
#logonResult4{
    display: block;
    color: white;
}
#logonResult5{
    display: block;
    color: white;
}
#div1{
    float: left;
    margin-left: 350px;
    margin-top: 15px;
}
#div2{
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}
#div3{
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}
#div4{
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}
#div5{
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}
#div6{
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}
#div7{
    float: left;
    margin-left: 161px;
    margin-top: 18px;
}