body{
    background: url("./images/Step0.png");
    width: 1280px;
    height: 2000px;
}
#logon{
    background: white;
    color: #ff4700;
    border: 0px solid #CCCCCC;
    border-radius: 5px;
    font-size: 14px;
}
#person{
    
    background: white;
    color: black;
    border: 0px solid #CCCCCC;
    border-radius: 5px;
    font-size: 14px;
}
#center{

    background: white;
    color: black;
    border: 0px solid #CCCCCC;
    border-radius: 5px;
    font-size: 14px;
}
#logonResult{
    display: block;
    float: left;
}
#btn{
    margin-top: 32px;
    margin-left: 1038px;
}
#message{
    margin-top: 12px;
    margin-left: 992px;
}
#logonResult1{
    margin-left: 10px;
}