#info-left {
	float: left;
	margin-left: 40px;
}

#info-right {
	float: left;
	margin-left: 25px;
}
.input-div {
	margin-top: 25px;
}
#input-div-email {
	margin-top: 35px;
}

#money-input-div{
	clear: both;
	margin-top: 25px;
	margin-left: 40px;
}
#goback{
	margin-left: 40px;
}